* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  /* border: 2px solid black; */
  margin: 160px auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  height: 40vh;
  font-size: 48px;
  font-weight: bold;
}
.time {
  letter-spacing: 5px;
  text-align: center;
  width: 200px;
  color: crimson;
}