@import url(../etc/reset.css);

* {
  background-color: rgb(232, 255, 255);
}
.square {
  position: relative;
  overflow: hidden;
}
.box {
  width: 300px; height: 450px;
  margin-top: 50px;
  margin-left: 30%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5px 1px 8px;
}

/* menu */
.menu {
  width: 100%;
  overflow: hidden;
}

/* profile */
