/* reset */
* {
  margin: 0; padding: 0;
}
body {
  box-sizing: border-box;
  width: 1180px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 헤더 컨텐츠 */
header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header #wrap {
  position: relative;
  width: 1180px; height: 120px;
  margin: 0 auto;
}
#wrap h1 {
  position: absolute;
  left: 0; bottom: 40px;
}
#wrap h1 > a {
  color: #444;
  font-weight: bold;
}

.gnb {
  position: absolute;
  right: 0; bottom: 0;
}
.gnb > li {
  float: left;
}
.gnb > li > a {
  display: block;
  padding: 20px 40px;
  color: #555;
  transition-duration: 0.5s;
}
.gnb > li > a:hover {
  background-color: #555;
  color: #fff;  
}
/* lnb */
.lnb {
  position: absolute;
  top: 20px; right: 30px;
}
.lnb > li {
  float: left;
}
.lnb > li > a {
  color: #999;
  display: block;
  padding: 0 10px;
}

/* 비주얼 */
figure {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #000;

  position: relative;
  overflow: hidden;
  padding-top: 250px;
}
figure video {
  width: 100%; height: 100%;
  object-fit: cover;
  opacity: 0.3;
  
  position: absolute;
  top: 0; left: 0;
}
/* 비주얼 폰트 */
.inner1 {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.inner1 h1 {
  color: #fff;
  font-weight: normal;
  font-size: 100px;
  margin-bottom: 20px;
}
.inner1 > p {
  color: #888;
  font-size: 16px;
  margin-bottom: 60px;
}
.inner1 > a {
  display: block;
  width: 400px; height: 40px;

  border: 1px solid #bbb;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;

  transition-duration: 1s;
}
.inner1 > a:hover {
  background-color: #fff;
  color: #555;
} 

/* 뉴스 헤더 */
.inner2 {
  width: 100%;
  padding: 200px 0;  
}
.inner2 {
  width: 1180px;
  margin: 0 auto;
}
.inner2 h1 {
  color: #555;
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  margin-bottom: 50px;
}

/* 뉴스 컨텐츠 */
.inner2 .contents {
  width: 100%;
  overflow: hidden;
}
.contents article {
  width: 280px;
  float: left;
  margin-right: 20px;
}
.contents article:last-child {
  margin-right: 0;
}

.contents h2 {
  margin-bottom: 10px;
}
.contents h2 a {
  font-weight: bold;
  color: #777;
}
.contents p {
  font-weight: 14px;
  color: #777;
}

/* 뉴스 이미지 */
.contents .pic {
  width: 100%; height: 120px;

  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.contents img {
  object-fit: cover;
  width: 100%; height: 100%;
}

/* 풋터 */
footer {
  width: 100%;
  background-color: #333;
  padding: 100px 0;
  border-top: 1px solid #888;
}

/* 풋터 어퍼 */
footer .inner3 {
  width: 1180px;
  margin: 0 auto;
}
.inner3 .upper {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
  overflow: hidden;
}
.inner3 h1 {
  float: left;
  font-weight: bold;
  color: #666;
  margin-left: 50px;
}
.inner3 ul {
  float: right;
}
.inner3 li {
  float: left;
  margin-left: 20px;
}

.inner3 ul > li > a {
  color: #d6cfcf;
  margin-right: 30px;
}

/* 풋터 로우 */
.lower {
  width: 100%;
  font-size: 16px;
  color: #777;
  padding-top: 20px;
  margin-left: 50px;
}
.lower address p {
  margin-bottom: 20px;
  margin-left: 50px;
}
.lower p {
  color: #777;
  width: 100%;
}